body{
    background-color:brown;
}
h1{
    color:pink;
}
p{
    color:white;
    font-size: 15px;
}
/*Always use the # to target id*/
#intro{
    color: blue;
    background-color: orange;
}
/*Class style*/
/* To select elements with a specific class, use a period character, 
followed by the name of the class.
Do NOT start a class or id name with a number!
*/
.first{
    font-size: 40px;
    text-decoration: underline;
}
.section-wrap{
    border: 3px dotted black;
}
/*Descendant selectors*/
#intro .first em{
    color: pink;
    background-color: gray;
}
/*Font family*/
/*Separate each value with a comma to indicate that they are alternatives.
If the name of a font family is more than one word, 
it must be in quotation marks: "Times New Roman".*/
.font-title{
    color: white;
    background-color: green;
    text-decoration: underline;
}
.serif{
    font-family: "Times New Roman", Times, serif;
}
.sansserif{
    font-family: Arial, Helvetica, sans-serif;
}
.monospace{
    font-family: 'Courier New', Courier, monospace;
}
.cursive{
    font-family: Florence,cursive;
}
.fantasy{
    font-family: Blippo,fantasy;
}